body {
    padding-bottom: 40px;
    background-color: #eee;
}

nav{
    margin-bottom: 10px;
}

form{
    padding: 15px;
    margin: 0 auto;
}
.container{
    margin-bottom: 30px;  /*place for footer*/
}

.form-medium{
    max-width: 660px;
}

.form-small {
    max-width: 330px;
}

.form-medium .form-medium-heading,
.form-small .form-small-heading,
.form-small .checkbox {
    margin-bottom: 10px;
}
.form-small .checkbox {
    font-weight: normal;
}

.form-medium .form-control,
.form-small .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}


.form-small .form-control:focus {
    z-index: 2;
}
.form-small input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-small input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.input-sm{
    padding: 0 !important;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.no-padding{
    padding: 0 !important;
}

.error-main{
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0px 10px 10px -10px #5D6572;
}
.error-main h1{
    font-weight: bold;
    color: #444444;
    font-size: 200px;
    text-shadow: 2px 4px 5px #6E6E6E;
}
.error-main h6{
    color: #42494F;
}
.error-main p{
    color: #9897A0;
    font-size: 14px;
}