<%--===========================================================================
JSTL core tag library.
===========================================================================--%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%--===========================================================================
JSTL functions tag library.
===========================================================================--%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn"%>

<%--===========================================================================
JSTL i18n tag library.
===========================================================================--%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt"%>

<%--===========================================================================
Custom tags
===========================================================================--%>
<%@ taglib prefix="fmtdt" tagdir="/WEB-INF/tags/defaultsupport"%>
<%@ taglib prefix="csrf" tagdir="/WEB-INF/tags/csrf" %>
<%@ taglib prefix="pagination" tagdir="/WEB-INF/tags/pagination" %>